@model List<ModelStore.Models.Product>
@{
    var category = ViewData["Category"] as ModelStore.Models.Category;
}

<link rel="stylesheet" href="~/css/allproducts.css" asp-append-version="true" />

<div class="mb-4">
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Повернутися на головну</a>
</div>

<h2>@(category?.Name ?? "Категорія")</h2>

<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="product-img-container">
                        <img src="data:image/png;base64,@Convert.ToBase64String(product.Photo)" class="card-img-top" alt="Product Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="@Url.Action("DetailItem", "Home", new { id = product.Id })">@product.Name</a>
                        </h5>
                        <p class="card-text">Ціна: @product.Price.ToString("C")</p>

                        <form method="post" action="@Url.Action("AddToCart", "Home")">
                            <input type="hidden" name="productId" value="@product.Id" />
                            <button type="submit" class="btn btn-success">Купити</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col">
            <p>У цій категорії поки немає товарів.</p>
        </div>
    }
</div>